.nav {
    background-color: rgba(128, 128, 128, 0.3); 
    display: flex; 
    flex-direction: row;
    align-items: center;
    width: 100%; 
    height: 90px; /* Adjust this value to change the height/thickness of the navbar */
    padding: 0; /* Adjust padding as necessary */
}

.page-links{
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px
}

.link {
    margin: 24px; 
    text-decoration: none;
}

.headerImage {
    width: 325px; 
    height: 115px; 
    margin-top: 16px;
  }
  
  
